langchain
langchain-community
python-dotenv
langchain-google-genai
requests
beautifulsoup4
pandas
psutil
ddgs
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
markdown-it-py
